@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    // font-family: 'Josefin Sans', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh !important;
}


.ql{
  &-size{
    &-small{
      font-size: 1.0em;
    }
    &-normal{
      font-size: 1.0em;
    }
    &-large{
      font-size: 1.5em;
    }
    &-huge{
      font-size: 2.5em;
    }
    &-title{
      font-size: 3em;
    }
  }

  &-indent{
    &-1{
      padding-left: 3em;
    }
    &-2{
      padding-left: 6em;
    }
    &-3{
      padding-left: 9em;
    }
    &-4{
      padding-left: 12em;
    }
    &-5{
      padding-left: 15em;
    }
    &-6{
      padding-left: 18em;
    }
  }
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
